includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    level: 7
    checkOctaneCompatibility: true
    checkModelProperties: true
    checkMissingIterableValueType: false
    paths:
        - app

    ignoreErrors:
