@tailwind base;
@tailwind components;
@tailwind utilities;

input:checked + div {
    @apply border-primary-orange;
}
input:checked + div svg {
    @apply block;
}

/* Estilo para TomSelect */
.item {
    background-color: #fa972f !important;
    color: #ffffff !important;
    border-radius: 5px;
    padding: 4px !important;
}
.option {
    color: #fa972f !important;
}
